.container {
  display: flex;
  flex-direction: column;
}

.warp {
  border: 1px solid #e0e0e0;
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div {
  margin-bottom: 10px;
}

.special {
  background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
}
